# Database
DATABASE_URL=postgresql+asyncpg://user:password@localhost:5432/volunteer_matching

# JWT
SECRET_KEY=your-secret-key-change-in-production
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# AWS
AWS_ACCESS_KEY_ID=your-iam-access-key-id
AWS_SECRET_ACCESS_KEY=your-iam-secret-access-key
AWS_REGION=ap-south-1
AWS_S3_BUCKET_NAME=your-s3-bucket-name
# SMTP Email
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SENDER_EMAIL=youremail@gmail.com
SMTP_PASSWORD=your-app-password

# Agent URLs
DOC_EXTRACTION_AGENT_URL=http://localhost:8001/extract
REQUEST_RESEARCH_AGENT_URL=http://localhost:8002/research

# SQS Queue URLs
SQS_ENRICH_FLOODS_URL=https://sqs.ap-south-1.amazonaws.com/887675945522/enrich_floods.fifo
SQS_ENRICH_DROUGHT_URL=https://sqs.ap-south-1.amazonaws.com/887675945522/enrich_drought.fifo
SQS_ENRICH_HEALTHCARE_URL=https://sqs.ap-south-1.amazonaws.com/887675945522/healthcare.fifo
SQS_ENRICH_DISASTER_URL=https://sqs.ap-south-1.amazonaws.com/887675945522/disaster.fifo
SQS_ENRICH_WELFARE_URL=https://sqs.ap-south-1.amazonaws.com/887675945522/welfare.fifo
SQS_ENRICH_EDUCATION_URL=https://sqs.ap-south-1.amazonaws.com/887675945522/education.fifo
SQS_ENRICH_LIVELIHOOD_URL=https://sqs.ap-south-1.amazonaws.com/887675945522/livelihood.fifo
SQS_ENRICH_ENVIRONMENT_URL=https://sqs.ap-south-1.amazonaws.com/887675945522/environment.fifo
SQS_ENRICH_REGIONAL_URL=https://sqs.ap-south-1.amazonaws.com/887675945522/regional.fifo

# Gemini API
GEMINI_API_KEY=your-gemini-api-key

# App
DEBUG=True
